/****** General ***********/
:root {
    --main-color: #0065FC;
    --main-color-hover: #DEEBFF;
    --main-bg-color: #F2F2F2;
    --secondary-bg-color: #FFF;
    --filter-bg-color: #DEEBFF;
    --border-color: #d9d9d9;
    --main-text-color: #000;
}

* {
    font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

/* HEADER */

.main-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main-header .logo {
    margin: 30px 0;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-nav li:first-child {
    margin-right: 68px;
}

.main-nav a {
    border-top: solid 2px transparent;
    text-decoration: none;
    color: var(--main-text-color);
    padding: 14px 0;
    display: inline-block;
}

.main-nav a:is(.active, :focus, :hover) {
    color: var(--main-color);
    border-color: var(--main-color);
}

/* Filters */

.filter-section {
    margin-top:30px;
    margin-bottom: 35px;
}

.main-title {
    font-size: 1.375rem;
}

.main-subtitle {
    margin-top: 8px;
}

.search-bar {
    margin-top: 35px;
    display: flex;
    font-weight: bold;
}

.search-bar label {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 51px;
    border-radius: 15px 0 0 15px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
}

.search-bar input {
    border: 1px solid var(--main-bg-color);
    border-right: none;
    border-left: none;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 14px;
}

.search-bar button {
    display: block;
    background-color: var(--main-color);
    padding: 16px;
    cursor: pointer;
    color: var(--secondary-bg-color);
    border-radius: 0 15px 15px 0;
    border: none;
}

.search-bar button:is(:hover, :focus) {
    background-color: var(--main-color-hover);
    color: var(--main-text-color);
    box-shadow: inset 3px 3px 2px var(--main-bg-color);
}

.search-bar button i {
    display: none;
    color: var(--secondary-bg-color);
}

.search-bar button:is(:hover, :focus) i {
    color: var(--main-text-color);
}

.filter-bar {
    padding: 35px 0;
    display: flex;
    align-items: center;
    align-content: flex-start;
}

.filter-bar h2 {
    font-size: 1.125rem;
    margin-right: 7px;
}

.filter-bar fieldset {
    padding: 0;
    display: flex;
    border: 0;
}

.filter-bar label {
    margin: 7px;
    padding: 15px 19px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    font-size: 1.0625rem;
    font-weight: bold;
    color: var(--main-text-color);
    text-decoration: none;
}

/* need A11Y fix three state required (focus) */
.filter-bar input:is(:hover, :focus) + label {
    background-color: var(--main-color-hover);
    cursor: pointer;
}

.filter-bar input:is(:checked) + label {
    border-color: var(--main-color);
    cursor: pointer;
}

.filter-bar label i {
    padding-right: 10px;
}

.filter-indication {
    display: flex;
    align-items: center;
}

.filter-indication div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid var(--border-color); 
    font-size: 0.625rem;
}

.filter-indication p {
    padding-top: 3px;
}

/* Global */

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements > a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125rem;
    /* margin: 30px 0; */
}

.hebergements > a:is(:hover, :focus) {
    text-decoration: underline;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 30%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cards .card a {
    text-decoration: none;
    color: var(--main-text-color)
}

.hebergements-cards .card a:focus {
    outline: none;
}

.hebergements-cards .card a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 20px;
    transition: box-shadow 300ms;
}

.hebergements-cards .card a:is(:hover, :focus)::before {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding: 8px 0 0 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    position: relative;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card a {
    text-decoration: none;
    color: var(--main-text-color);
}

.populaires-cards .card a:focus {
    outline: none;
}

.populaires-cards .card a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 20px;
    transition: box-shadow 300ms;
}

.populaires-cards .card a:is(:hover, :focus)::before {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activities */
.activities {
    margin-top: 35px;
}

.activities section {
    padding: 30px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 33px;
}

.activities .card {
    padding: 0;
    position: relative;
    width: 23.24%;
}

.activities .card img {
    --heigth-activities-card: 380px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: var(--heigth-activities-card);
    object-fit: cover;
}

.activities .card-title {
    display: flex;
    align-items: center;
    height: 60px;
}

.activities .card a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--main-text-color);
}

.activities .card a:focus {
    outline: none;
}

.activities .card a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 20px;
    transition: box-shadow 300ms;
}

.activities .card a:is(:hover, :focus)::before {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/****** Footer ********/

.main-footer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    padding: 20px;
    justify-content: space-between;
    margin-top: 35px;
}

.main-footer .main-footer_list {
    width: 31.17%;
}

.main-footer .main-footer_list-title {
    font-size: 1.125rem;
}

.main-footer ul {
    list-style-type: none;
    padding: 0;
}

.main-footer li {
    margin-top: 15px;
}

.main-footer a {
    text-decoration: none;
    color: var(--main-text-color);
}

.main-footer a:is(:hover, :focus) {
    text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /*** filter-bar ***/
    
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar fieldset {
        padding-top: 13px;
    }

    .filter-bar label {
        font-size: 1rem;
    }

    .filter-bar label:first-of-type {
        margin-left: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 1rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.875rem;
    }

    /*** activities ***/

    .activities .card img {
        --heigth-activities-card: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) { 

    .main-container {
        padding: 0;
    }

    section {
        padding: 0 20px;
    }

    .populaires {
        order: -1;
    }

    section.hebergements {
        background-color: var(--secondary-bg-color);
    }

    /****** Header *****/
    .main-header {
        flex-direction: column;
        align-items: center;
    }
    
    .main-nav {
        width: 100%;
    }
    
    .main-nav li {
        width: 50%;
    }

    .main-nav li:first-child {
        margin-right: 0;
    }

    .main-nav a {
        width: 100%;
        text-align: center;
        border-top: 0;
        border-bottom: 2px solid transparent;
    }

    /*** FILTERS ****/
    /*** search-bar ****/

    .search-bar {
        position: relative;
    }

    .search-bar input {
        width: 100%;
        padding-right: 75px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }

    .search-bar button {
        position: absolute;
        border-radius: 15px;
        right: 0;
        width: 50px;
        height: 50px;
    } 

    .search-bar button i {
        display: inline;
    }

    .search-bar button span {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }   
    
    /*** filter-bar ***/
    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar fieldset {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter-bar label {
        margin: 0;
        width: 48.51%;
        font-size: 0.875rem;
        font-size: clamp(0.625rem, 10vw + -1.375rem, 0.875rem); /* FIX lower than 360px */
        margin-top: 20px;
    }

    /*** filter-indication ***/

    .filter-indication
        div {
       flex-basis: 24px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /*** Hebergements ***/

    .hebergements-cards .card {
        width: 100%;
        margin-top: 15px;
    }

    /*** Populaires ***/
    .populaires {
        border-radius: 0;
        margin-top: 0px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires .card {
        margin-top: 15px;
        width: 100%;
    }

    /*** Activities ***/
    .activities {
        padding: 5px;
    }

    .activities-cards {
        flex-direction: column;
    }

    .activities .card {
        width: 100%;
        margin-top: 15px;
    }

    .activities .card img {
        --heigth-activities-card: 140px;
    }

    /*** Footer ***/
 
    .main-footer {
        flex-direction: column;
        padding: 30px;
    }

    .main-footer .main-footer_list {
        width: 100%;
    }
    .main-footer .main-footer_list + .main-footer_list {
        margin-top: 50px;
    }
}
